.author {
  background-color: white;

  padding: 64px 16px 88px;
  @media (min-width: $tablet) {
    max-width: 736px;
    margin: 0 auto;
  }
  @media (min-width: $desktop) {
    max-width: 830px;
  }

  &__description {
    text-align: center;
    &--heading {
      font-size: 26px;
      color: #234361;
      @media (min-width: $desktop) {
        font-size: 32px;
        line-height: 40px;
      }

      line-height: 32px;
      margin: 0;
    }
    &--special {
      color: #1070ca;
    }
    &--text {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      color: #425a70;
      line-height: 32px;
      @media (min-width: $desktop) {
        font-size: 20px;
        line-height: 40px;
      }
    }
    &--link {
      color: #4da8ff;
      font-weight: bold;
    }
  }

  &__mail {
    display: inline-block;
    background-color: #4da8ff;
    width: 278px;
    border-radius: 64px;
    margin-top: 48px;
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
    line-height: 40px;
    text-decoration: none;
    padding: 4px 24px;
  }
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bubble {
    position: absolute;
    left: calc(50% + 90px);
    top: -26px;
  }
  &__greet {
    display: none;
    @media (min-width: $desktop) {
      display: block;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      color: #ffffff;
      background: #1070ca;
      padding: 16px 19px;
      border-radius: 16px;

      &::after {
        content: "";
        display: block;
        width: 17.42px;
        height: 22.66px;
        background: url("../assets/img/Speech.svg");
        top: 100%;
        left: 32px;
        position: absolute;
      }
    }
  }
  &__photo {
    box-sizing: content-box;
    width: 96px;
    border: 16px solid #f6f9fd;
    border-radius: 50%;
    @media (min-width: $desktop) {
      width: 178px;
      border: 24px solid #f6f9fd;
    }
  }
}
