.author {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 16px 88px;
  
  min-height: 500px;
  &__description {
      
    &--heading {
      font-size: 26px;
      color: #234361;
      text-align: center;
      line-height: 32px;
      margin: 0;
      
    }
    &--special {
      color: #1070ca;
    }
    &--text {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        color: #425A70;
        text-align: center;
        line-height: 32px;
        
    }
    &--link {
       color: #4DA8FF;
       font-weight: bold;
    }
  }
  &__image {
    
      &--greet {
          display: none;
          @media screen {min-width: 1440px;
            position: absolute;
            font-size: 32px;
            background-color: #1070CA;
            padding: 16px;
            border-radius: 16px;
            color: #FFF;
            font-weight: bold;
   
          }
          
      }
      &--photo {
         width: 96px; 
         border: 16px solid #F6F9FD;
         border-radius: 50%;
      }
  }
  &__mail {
      background-color: #4DA8FF;
      width: 278px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 64px;
      margin-top: 48px;
          &--address {
          position: static;
          font-size: 20px;
          font-weight: bold;
          color: #FFFF;
          line-height: 40px;
          
      }
  }
}
