.projects {
  background-color: #fff;
  padding: 64px 16px 88px;
  &__heading {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
}

.project {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  background-color: #212528;
  border-radius: 16px;
  margin-top: 46px;
  &__circle {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #464a4d;
    position: static;
    margin-right: 8px;
  }
  &__content {
    padding: 24px 16px 24px 16px;
    color: #808082;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 116px 1fr;
    column-gap: 8px;
  }
  &__label {
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
  }
  &__description {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #A3A3A3;
  }
  &__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
  }
  &__link {
    font-size: 13px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #14B5D0;
  }

   &__window {
    height: 40px;
    background-color: #1e1e1e;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
  }
}

.projects__grid {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }
  
}