.skills {
  background: #1070ca;
  color: #fff;
  padding: 64px 16px 88px;
  
  &__heading {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    
     }
  &__emoji {
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
    display: block;
    text-align: center;
    margin-top: 64px;
  }
  &__subheading {
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
  
    margin-top: 16px;
  }
  &__list {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #DBEAF7;
    width: 288px;
    margin: 0 auto;
  }
}
