@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import "modules/author.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    box-sizing: border-box; }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit; }

main {
    min-width: 320px;
    
    font-family: 'Nunito';
   
   
}


